<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="/opt/logs/fbc.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<category name="org.albino">
		<priority value="DEBUG" />
		<appender-ref ref="FILE" />
	</category>

	<root>
		<!--
			Set the root logger priority via a system property. Note this is
			parsed by log4j, so the full JBoss system property format is not
			supported; e.g. setting a default via
			${jboss.server.log.threshold:WARN} will not work.
		-->
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
